[Unit]
Description = Simple Golang WebServer

[Service]
ExecStart = /usr/local/bin/goserve -l /var/log/goserve/access_log -p 80
Restart = always
Type = simple

[Install]
WantedBy = multi-user.target

